<site-newsletter class="site-newsletter">
  <div class="site-newsletter__inner">
    <p class="newsletter__title h2">
      Or subscribe to the newsletter
    </p>
    <div class="newsletter__form">
      <input class="newsletter__form-email" type="email" name="" id="" placeholder="Email Address...." />
      <input class="newsletter__form-button button-small1" type="submit">Submit</input>
    </div>

  </div>
</site-newsletter>