@import "src/css/typography.css";
@import "src/modules/site-header/site-header.css";
@import "src/modules/site-footer/site-footer.css";
@import "src/modules/site-hero/site-hero.css";
@import "src/modules/site-logo/site-logo.css";

section {
  width: 100%;
  height: 100vh;
  background-color:  #000;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  font-size: 100px;
}