<site-product class="site-product">
  <div class="site-product__inner">
    <div class="product__title h2">
      <p>Best sellers</p>
    </div>
    <div class="product__menu">
      <div class="product__category h6">
        <ul>
          <li><a href="#">All Products</a></li>
          <li><a href="#">T-Shirt</a></li>
          <li><a href="#">Hoodies</a></li>
          <li><a href="#">Jacket</a></li>
        </ul>
      </div>
      <button class="product__show button-small1">
        Show All
      </button>
    </div>
    <div class="product__section">
      <div class="product__card">
        <div class="product__card-top">
          <span class="products__card-hot overline">Hot</span>
          <img
            class="product__card-image"
            src="../src/assets/images/image-product-5.svg"
            alt=""
          />
        </div>
        <div class="product__card-bottom">
          <span class="product__text h6">
            Basic Dress Green
          </span>
          <div class="product__desc">
            <span class="product__name span3">
              Dress
            </span>
            <span class="product__price span">
              $236.00
            </span>
          </div>
        </div>
      </div>
      <div class="product__card">
        <div class="product__card-top">
          <img
            class="product__card-image"
            src="../src/assets/images/image-product-2.svg"
            alt=""
          />
        </div>
        <div class="product__card-bottom">
          <span class="product__text h6">
            Nike Sportswear Futura Luxe
          </span>
          <div class="product__desc">
            <span class="product__name span3">
              Bag
            </span>
            <span class="product__price span">
              $130.00
            </span>
          </div>
        </div>
      </div>
      <div class="product__card">
        <div class="product__card-top">
          <span class="product__card-sale overline">Sale</span>
          <img
            class="product__card-image"
            src="../src/assets/images/image-product-4.svg"
            alt=""
          />
        </div>
        <div class="product__card-bottom">
          <span class="product__text h6">
            Yellow Reserved Hoodie
          </span>
          <div class="product__desc">
            <span class="product__name span3">
              Scarf
            </span>
            <div class="product__price-number">
              <span class="product__price-dash span2">
                $364.00
              </span>
              <span class="product__price-sale span">
                $155.00
              </span>
            </div>
          </div>
        </div>
      </div>
      <div class="product__card">
        <div class="product__card-top">
          <span class="product__card-sale overline">Sale</span>
          <img
            class="product__card-image"
            src="../src/assets/images/image-product-6.svg"
            alt=""
          />
        </div>
        <div class="product__card-bottom">
          <span class="product__text h6">
            Nike Air Zoom Pegasus
          </span>
          <div class="product__desc">
            <span class="product__name span3">
              Dress
            </span>
            <div class="products__price-number">
                <span class="products__price-dash span2">$220.00</span>
                <span class="products__price-sale span">$198.00</span>
            </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</site-product>