.site-product__inner {
  width: 100%;
  padding: 50px 0 50px;
}

.product__title {
  text-align: center;
  text-transform: capitalize;
}

/*
* Menu product
*/

.product__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 35px 60px 0px;
}

.product__category ul {
  display: flex;
  align-items: center;
  gap: 25px;
  list-style: none;
}

.product__category ul li a {
  text-decoration: none;
  color: var(--dark-50);
}

.product__show {
  display: flex;
  align-items: center;
  gap: 4px;
  padding: 5px 10px;
  border: none;
  background: var(--black);
  color: var(--white);
}

/*
* Product
*/

.product__section {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr;
  grid-gap: 20px;
  grid-template-areas:
  "h1 h2 h3 h4"
  ;
  padding: 35px 60px;
}

.product__card:first-child {
  grid-area: h1;
}
.product__card:nth-child(2) {
  grid-area: h2;
}
.product__card:nth-child(3) {
  grid-area: h3;
}
.product__card:nth-child(4) {
  grid-area: h4;
}
.product__card:nth-child(5) {
  grid-area: h5;
}
.product__card:nth-child(6) {
  grid-area: h6;
}
.product__card:nth-child(7) {
  grid-area: h7;
}
.product__card:nth-child(8) {
  grid-area: h8;
}

.product__card {
  display: flex;
  flex-direction: column;
  gap: 18px;
}

.product__card-top {
  position: relative;
}

.product__card-sale {
  position: absolute;
  top: 22px;
  padding: 4px 12px;
  background: var(--black);
  color: var(--white);
}

.product__card-hot {
  position: absolute;
  top: 22px;
  padding: 4px 12px;
  background: var(--primary);
  color: var(--white);
}

.product__card-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__card-bottom {
  display: flex;
  flex-direction: column;
  gap: 16px;
  padding: 0px 10px;
}

.product__text {
  text-transform: capitalize;
  color: var(--dark);
}

.product__desc {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product__name {
  text-transform: capitalize;
  color: var(--dark-50);
}

.product__price-number {
  display: flex;
  align-items: center;
  gap: 6px;
}

.product__price {
  text-transform: capitalize;
  color: var(--dark);
}

.product__price-dash {
  text-transform: capitalize;
  text-decoration-line: line-through;
  color: var(--dark);
}

.product__price-sale {
  text-transform: capitalize;
  color: var(--primary);
}