header {
	max-width: 100%;
	background: var(--black10);
}

.header {
	display: flex;
	flex-direction: column;
	max-width: 100%;
	padding: 20px;
}

.top-header {
	display: flex;
  justify-content: space-between;
  align-items: center;
	min-height: 70%;
}

.header__search {
  width: 14%;
  text-align: left;
}

.header__search-icon {
	max-width: 100%;
}

.header__logo {
  text-align: center;
}

/*
  * Acount
*/
.header__account {
	display: flex;
  align-items: baseline;
  gap: 22px;
}

.button__account {
	display: flex;
  align-items: center;
  gap: 8px;
  border: none;
	background: var(--black-header);
}

.account-text {
  text-transform: capitalize;
  color: var(--black);
}

/*
  * Shopping
*/
.button__shopping {
	display: flex;
  align-items: center;
  gap: 8px;
  border: none;
	background: var(--black-header);
}

.shopping-text {
  text-transform: capitalize;
  color: var(--black);
}

.line {
  border: 1px solid white;
	margin-top: 20px;
	margin-bottom: 20px;
}

/*
 * Menu
*/
.menu ul {
	display: flex;
  justify-content: space-between;
  align-items: center;
	list-style: none;
}

.menu ul li {
	display: inline-block;
}

.menu ul li a {
  text-decoration: none;
	color: var(--dark);
	line-height: 24px;
}

.menu ul li:hover {
	text-decoration: underline;
}