<site-header class="site-header">
  <div class="site-header__inner">
    <header>
      <div class="header">
        <div class="top-header">
          <div class="header__search">
            <a target="_blank" href="https://www.youtube.com/"><img
                src="../img/icon-search.png"
                class="header__search-icon"
                alt=""
              /></a>
          </div>
          <div class="header__logo">
            <img src="../img/logo-coral.png" class="header__logo-img" alt="" />
          </div>
          <div class="header__account">
            <button class="button__account">
              <div class="button__account-icon">
                <img
                  src="../img/icon-account.png"
                  class="button__account-img"
                  alt=""
                />
              </div>
              <span class="button__account-text">
                Account
              </span>
            </button>
            <button class="button__shopping">
              <div class="button__shopping-icon">
                <img
                  src="../img/icon-shopping.png"
                  class="button__shopping-img"
                  alt=""
                />
              </div>
              <span class="button__shopping-text">
                Shopping
              </span>
            </button>
          </div>
        </div>
        <div class="line">

        </div>
        <div class="menu">
          <ul>
            <li><a href="#">Jewelry & Accessories</a></li>
            <li><a href="#">Clothing & Shoes</a></li>
            <li><a href="#">Home & Living</a></li>
            <li><a href="#">Wedding & Party</a></li>
            <li><a href="#">Toys & Entertainment</a></li>
            <li><a href="#">Art & Collectibles</a></li>
            <li><a href="#">Craft Supplies & Tools</a></li>
          </ul>
        </div>
      </div>
    </header>
  </div>
</site-header>