<site-footer class="site-footer">
    <div class="site-footer__inner">
        <footer>
            <div class="footer">
                <div class="top-footer">
                    <div class="footer__left">
                        <div class="footer__logo">
                            <img src="./src/assets/images/logo.svg" alt="">
                        </div>
                        <p class="footer__text button-small1">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
                        dolore magna aliqua</p>
                        <div class="footer__social">
                          <div class="footer__facebook">
                              <img class="footer__facebook-icon" src="./src/assets/images/icon-facebook.svg" alt="">
                          </div>
                          <div class="footer__twister">
                              <img class="footer__twister-icon" src="./src/assets/images/icon-twister.svg" alt="">
                          </div>
                          <div class="footer__in">
                              <img class="footer__in-icon" src="./src/assets/images/icon-in.svg" alt="">
                          </div>
                          <div class="footer__instagram">
                              <img class="footer__instagram-icon" src="./src/assets/images/icon-instagram.svg" alt="">
                          </div>
                        </div>
                    </div>
                    <div class="footer__menu">
                        <div class="menu__title h6">Catalog</div>
                        <div class="menu__item a2">
                          <ul>
                            <li><a href="">Necklaces</a></li>
                            <li><a href="">Hoodies</a></li>
                            <li><a href="">Jewelry Box</a></li>
                            <li><a href="">T-Shirt</a></li>
                            <li><a href="">Jacket</a></li>
                          </ul>
                        </div>
                    </div>
                    <div class="footer__menu">
                        <span class="menu__title h6">About us</span>
                        <div class="menu__item a2">
                          <ul>
                            <li><a href="">Our Producers</a></li>
                            <li><a href="">Sitemap</a></li>
                            <li><a href="">FAQ</a></li>
                            <li><a href="">About Us</a></li>
                            <li><a href="">Terms & Conditions</a></li>
                          </ul>
                        </div>
                    </div>
                    <div class="footer__menu">
                        <span class="menu__title h6">Customer services</span>
                        <div class="menu__item a2">
                          <ul>
                            <li><a href="">Contact Us</a></li>
                            <li><a href="">Track Your Order</a></li>
                            <li><a href="">Product Care & Repair</a></li>
                            <li><a href="">Book an Appointment</a></li>
                            <li><a href="">Shipping & Returns</a></li>
                          </ul>
                        </div>
                    </div>
                </div>
                <div class="bottom-footer">
                    <span class="footer__bottom-text span3">© 2022 Coral , Inc.</span>
                    <img class="footer__bottom-pay" src="./src/assets/images/icons_payment.svg" alt="">
                    <div class="footer__button">
                    <div class="footer__button-text button-small1" onclick="scrollToTop()">Scroll To Top
                        <img src="./src/assets/images/icon-button.svg" alt=""></div>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</site-footer>
<script>
  function scrollToTop() {
    window.scrollTo(0, 0);
  }
</script>