<site-footer class="footer">
  <div class="footer__inner">
    <div class="footer__top">
      <div class="footer__left">
        <div class="footer__logo">
          <img src="./src/assets/images/logo.svg" alt="" />
        </div>
        <p class="footer__text button-small1">Lorem ipsum dolor sit amet,
          consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
          labore et dolore magna aliqua</p>
        <div class="footer__social-icon">
          <img
            class="social-icon__facebook"
            src="./src/assets/images/icon-facebook.svg"
            alt=""
          />
          <img
            class="social-icon__twister"
            src="./src/assets/images/icon-twister.svg"
            alt=""
          />
          <img
            class="social-icon__in"
            src="./src/assets/images/icon-in.svg"
            alt=""
          />
          <img
            class="social-icon__instagram"
            src="./src/assets/images/icon-instagram.svg"
            alt=""
          />
        </div>
      </div>
      <div class="footer__menu">
        <div class="menu__title h6">Catalog</div>
        <div class="menu__item a2">
          <ul>
            <li><a href="">Necklaces</a></li>
            <li><a href="">Hoodies</a></li>
            <li><a href="">Jewelry Box</a></li>
            <li><a href="">T-Shirt</a></li>
            <li><a href="">Jacket</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__menu">
        <span class="menu__title h6">About us</span>
        <div class="menu__item a2">
          <ul>
            <li><a href="">Our Producers</a></li>
            <li><a href="">Sitemap</a></li>
            <li><a href="">FAQ</a></li>
            <li><a href="">About Us</a></li>
            <li><a href="">Terms &amp; Conditions</a></li>
          </ul>
        </div>
      </div>
      <div class="footer__menu">
        <span class="menu__title h6">Customer services</span>
        <div class="menu__item a2">
          <ul>
            <li><a href="">Contact Us</a></li>
            <li><a href="">Track Your Order</a></li>
            <li><a href="">Product Care &amp; Repair</a></li>
            <li><a href="">Book an Appointment</a></li>
            <li><a href="">Shipping &amp; Returns</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer__bottom">
      <span class="footer__bottom-text span3">© 2022 Coral , Inc.</span>
      <img
        class="footer__bottom-pay"
        src="./src/assets/images/icons_payment.svg"
        alt=""
      />
      <div class="footer__button">
        <div class="footer__button-text button-small1">Scroll To Top
          <img src="./src/assets/images/icon-button.svg" alt="" /></div>
      </div>
    </div>
  </div>
</site-footer>