<site-banner class="site-banner">
  <div class="site-banner__inner">
    <div class="site-banner__background">
      <img src="./src/assets/images/andrey_VM-unsplash 1.svg" alt="" />
      <div class="site-banner__zara-big">
        <img src="./src/assets/images/1024px-Zara_Logo 1.svg" alt="" />
      </div>
      <div class="site-banner_zara-small">
        <img src="./src/assets/images/1024px-Zara_Logo 2.svg" alt="" />
        <p class="zara-small__text paragraph">
          Lustrous yet understated. The new evening wear collection exclusively
          offered at the reopened Giorgio Armani boutique in Los Angeles.
        </p>
        <button class="zara-small__collection button-large1">See Collection</button>
      </div>
    </div>
  </div>
</site-banner>