<site-instagram class="site-instagram">
    <div class="site-instagram__inner">
        <p class="instagram__title h2">
            Follow products and discounts on Instagram
        </p>
        <div class="instagram__section">
            <div class="instagram__card">
                <img src="./src/assets/images/image-instagram-01.svg" alt="">
            </div>
            <div class="instagram__card">
                <img src="./src/assets/images/image-instagram-02.svg" alt="">
            </div>
            <div class="instagram__card">
                <img src="./src/assets/images/image-instagram-03.svg" alt="">
            </div>
            <div class="instagram__card">
                <img src="./src/assets/images/image-instagram-04.svg" alt="">
            </div>
            <div class="instagram__card">
                <img src="./src/assets/images/image-instagram-05.svg" alt="">
            </div>
            <div class="instagram__card">
                <img src="./src/assets/images/image-instagram-06.svg" alt="">
            </div>

        </div>
    </div>
</site-instagram>