<site-logo class="site-logo">
    <div class="site-logo__inner">
        <div class="brand">
            <div class="brand__logo">
                <img src="../src/assets/images/brand-1.svg" alt="ảnh lỗi">
            </div>
            <div class="brand__logo">
                <img src="../src/assets/images/brand-2.svg" alt="ảnh lỗi">
            </div>
            <div class="brand__logo">
                <img src="../src/assets/images/brand-3.svg" alt="ảnh lỗi">
            </div>
            <div class="brand__logo">
                <img src="../src/assets/images/brand-4.svg" alt="ảnh lỗi">
            </div>
            <div class="brand__logo">
                <img src="../src/assets/images/brand-5.svg" alt="ảnh lỗi">
            </div>
        </div>
    </div>
</site-logo>