* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root {
    /* primary */
    --primary5:   rgba(255, 111, 97, 0.05);
    --primary10:  rgba(255, 111, 97, 0.1);
    --primary25:  rgba(255, 111, 97, 0.25);
    --primary50:  rgba(255, 111, 97, 0.5);
    --primary75:  rgba(255, 111, 97, 0.75);
    --primary: rgba(255, 111, 97, 1);
    /* blackcolor */
    --black5:   rgba(30, 40, 50, 0.05);
    --black10:  rgba(30, 40, 50, 0.1);
    --black25:  rgba(30, 40, 50, 0.25);
    --black50:  rgba(30, 40, 50, 0.5);
    --black75:  rgba(30, 40, 50, 0.75);
    --black: rgba(30, 40, 50, 1);
    /* whitecolor */
    --white5:   rgba(255, 255, 255, 0.05);
    --white10:  rgba(255, 255, 255, 0.1);
    --white25:  rgba(255, 255, 255, 0.25);
    --white50:  rgba(255, 255, 255, 0.5);
    --white75:  rgba(255, 255, 255, 0.75);
    --white: rgba(255, 255, 255, 1);
    /* darkcolor */
    --dark5:   rgba(0, 0, 0, 0.05);
    --dark10:  rgba(0, 0, 0, 0.1);
    --dark25:  rgba(0, 0, 0, 0.25);
    --dark50:  rgba(0, 0, 0, 0.5);
    --dark75:  rgba(0, 0, 0, 0.75);
    --dark: rgba(0, 0, 0, 1);
    /* stroke */
    --stroke: rgba(227, 227, 227, 1);
    /*Font*/
    --font-roboto: "Roboto", sans-serif;
    --font-open-sans: "Open Sans", sans-serif;
}

.typography {
    display: flex;
    flex-direction: column;
    margin-left: 30px;
    margin-right: 30px;
    margin-top: 20px;
}
.left {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 14px;
    margin-right: 40px;
    width: 100px;
}
.right {
    display: flex;
    align-items: center;
    margin-bottom: 50px;
}
h1 .h1-roboto-medium-67px {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 67px;
}
h2 .h2-roboto-medium-50px {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 50px;
}
h3 .h3-roboto-medium-37px {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 37px;
}
h4 .h4-roboto-medium-28px {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 28px;
}
h5 .h5-open-sans-semi-bold-21px {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 21px;
}
h6 .h6-open-sans-semi-bold-16px {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 16px;
}
.subtitle1-roboto-regular-16px {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 16px;
}
.subtitle2-medium-roboto-medium-14px {
    font-family: var(--font-roboto);
    font-weight: 500;
    font-size: 14px;
}
.body1-roboto-light-74px {
    font-family: var(--font-roboto);
    font-weight: 300;
    font-size: 74px;
}
.body2-roboto-regular-34px {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 34px;
}

button.button {
    border: none;
    background: white;
    display: flex;
}
.button-roboto-regular-18px {
    font-family: var(--font-roboto);
    font-size: 18px;
    font-weight: 400;
    font-size: 29px;
}
button.button-large {
    border: none;
    background: white;
    display: flex;
}
.button-large1-roboto-regular-29px {
    font-family: var(--font-roboto);
    font-size: 29px;
    font-weight: 400;
}
button.button-small {
    border: none;
    background: white;
    display: flex;
}
.button-small1-open-sans-regular-16px {
    font-family: var(--font-open-sans);
    font-size: 16px;
    font-weight: 400;
}
.span .caption-open-sans-semi-bold-16px {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 16px;
}
.span2 .caption-open-sans-semi-bold-14px {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 14px;
}
.span3 .caption-open-sans-regular-16px {
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 16px;
}
.a .caption-open-sans-regular-16px {
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 16px;
}
.a2 .caption-open-sans-regular-14px {
    font-family: var(--font-open-sans);
    font-weight: 400;
    font-size: 14px;
}
.caption-open-sans-semi-bold-16px {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 16px;
}
.caption-open-sans-semi-bold-12px {
    font-family: var(--font-open-sans);
    font-weight: 600;
    font-size: 16px;
    font-size: 12px;
    text-transform: uppercase;
}
.paragraph-large {
    margin-top: 20px;
}
p.paragraph-large {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 30px;
    line-height: 55px;
}
.paragraph {
    margin-top: 60px;
    margin-bottom: 40px;
}

p.paragraph {
    font-family: var(--font-roboto);
    font-weight: 400;
    font-size: 26px;
}