<site-hero class="site-hero">
  <div class="site-hero__inner">
    <div class="site-hero__flower">
      <div class="flower__left">
        <img src="../src/assets/images/icon-flower.svg" alt="" />
      </div>
      <div class="flower__right">
        <img src="../src/assets/images/icon-flower2.svg" alt="" />
      </div>
    </div>
    <div class="site-hero__collection">
      <div class="collection__content">
        <h1 class="collection__title body1">Collections</h1>
        <p class="collection__text paragraph-large">you can explore ans shop
          many differnt collection from various barands here.</p>
        <a href="#" class="collection__shop button-large1">
          <img src="./src/assets/images/icon-shopping-white.svg" alt="" />
          Shop Now
        </a>
      </div>
      <div class="collection__photo">
        <img src="./src/assets/images/img-hero.svg" alt="" />
      </div>
    </div>
  </div>
</site-hero>