<site-hero class="site-hero">
    <div class="site-hero__inner">
        <div class="banner">
            <div class="banner__flower">

            </div>
            <div class="banner__collection">
                <div class="collection__content">
                    <h1 class="collection__title body1">Collections</h1>
                    <p class="collection__text paragraph-large">you can explore ans shop many differnt collection from various barands here.</p>
                    <button class="btn-collection-shop button-large1">
                        <img src="./src/assets/images/icon-shopping-white.svg" alt="">
                        Shop Now
                    </button>
                </div>
                <div class="collection__image">
                    <img src="./src/assets/images/img-hero.svg" alt="">
                </div>
            </div>
        </div>
    </div>
</site-hero>