<site-category class="site-category">
  <div class="category__card">
    <p class="category__title body2">Explore new and popular styles</p>
    <img src="../src/assets/images/image-category-1.svg" alt="">
  </div>
  <div class="category__card">
    <img src="../src/assets/images/item-category.svg" alt="">
  </div>
  <div class="category__card">
    <span class="category__card-text overline">Sale</span>
    <img src="../src/assets/images/item-category-1.svg" alt="">
  </div>
  <div class="category__card">
    <img src="../src/assets/images/item-category-2.svg" alt="">
  </div>
  <div class="category__card">
    <img src="../src/assets/images/item-category-hover 1.svg" alt="">
  </div>
</site-category>