<site-products class="site-products">
    <div class="site-products__inner">
        <div class="products__title h2">
            <p>Or subscribe to the newsletter</p>
        </div>
        <div class="products__menu">
            <div class="products__category h6">
                <ul>
                    <li><a href="#">All Products</a></li>
                    <li><a href="#">T-Shirt</a></li>
                    <li><a href="#">Hoodies</a></li>
                    <li><a href="#">Jacket</a></li>
                </ul>
            </div>
            <button class="product__filter button-small1">
                <img class="product__filter-img" src="../src/assets/images/icon-filter.svg" alt="">
                Filter
            </button>
        </div>
        <div class="products__section">
            <div class="products__card">
                <div class="products__card-top">
                    <img class="product__card-image" src="../src/assets/images/image-product-1.svg" alt="">
                </div>
                <div class="products__card-bottom">
                    <span class="products__text h6">
                        Adicolor Classics Joggers
                    </span>
                    <div class="products__desc">
                        <span class="products__name span3">
                            Dress
                        </span>
                        <span class="products__price span">
                            $63.85
                        </span>
                    </div>
                </div>
            </div>
            <div class="products__card">
                <div class="products__card-top">
                    <img class="product__card-image" src="../src/assets/images/image-product-2.svg" alt="">
                </div>
                <div class="products__card-bottom">
                    <span class="products__text h6">
                        Nike Sportswear Futura Luxe
                    </span>
                    <div class="products__desc">
                        <span class="products__name span3">
                            Bag
                        </span>
                        <span class="products__price span">
                            $130.00
                        </span>
                    </div>
                </div>
            </div>
            <div class="products__card">
                <div class="products__card-top">
                    <img class="product__card-image" src="../src/assets/images/image-product-3.svg" alt="">
                </div>
                <div class="products__card-bottom">
                    <span class="products__text h6">
                        Geometric print Scarf
                    </span>
                    <div class="products__desc">
                        <span class="products__name span3">
                            Scarf
                        </span>
                        <span class="products__price span">
                            $53.00
                        </span>
                    </div>
                </div>
            </div>
            <div class="products__card">
                <div class="products__card-top">
                    <span class="products__card-sale overline">Sale</span>
                    <img class="product__card-image" src="../src/assets/images/image-product-4.svg" alt="">
                </div>
                <div class="products__card-bottom">
                    <span class="products__text h6">
                        Yellow Reserved Hoodie
                    </span>
                    <div class="products__desc">
                        <span class="products__name span3">
                            Dress
                        </span>
                        <div class="products__price-number">
                          <span class="products__price-dash span2">
                            $364.00
                          </span>
                          <span class="products__price-sale span">
                            $155.00
                          </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products__card">
                <div class="products__card-top">
                    <span class="products__card-hot overline">Hot</span>
                    <img class="product__card-image" src="../src/assets/images/image-product-5.svg" alt="">
                </div>
                <div class="products__card-bottom">
                    <span class="products__text h6">
                        Basic Dress Green
                    </span>
                    <div class="products__desc">
                        <span class="products__name span3">
                            Dress
                        </span>
                        <span class="products__price span">
                            $236.00
                        </span>
                    </div>
                </div>
            </div>
            <div class="products__card">
                <div class="products__card-top">
                    <span class="products__card-sale overline">Sale</span>
                    <img class="product__card-image" src="../src/assets/images/image-product-6.svg" alt="">
                </div>
                <div class="products__card-bottom">
                    <span class="products__text h6">
                        Nike Air Zoom Pegasus
                    </span>
                    <div class="products__desc">
                        <span class="products__name span3">
                            Shoe
                        </span>
                        <div class="products__price-number">
                          <span class="products__price-dash span2">
                            $220.00
                          </span>
                          <span class="products__price-sale span">
                            $198.00
                          </span>
                        </div>
                    </div>
                </div>
            </div>
            <div class="products__card">
                <div class="products__card-top">
                    <img class="product__card-image" src="../src/assets/images/image-product-7.svg" alt="">
                </div>
                <div class="products__card-bottom">
                    <span class="products__text h6">
                        Nike Repel Miler
                    </span>
                    <div class="products__desc">
                        <span class="products__name span3">
                            Dress
                        </span>
                        <span class="products__price span">
                            $120.50
                        </span>
                    </div>
                </div>
            </div>
            <div class="products__card">
                <div class="products__card-top">
                    <img class="product__card-image" src="../src/assets/images/image-product-8.svg" alt="">
                </div>
                <div class="products__card-bottom">
                    <span class="products__text h6">
                        Nike Sportswear Futura Luxe
                    </span>
                    <div class="products__desc">
                        <span class="products__name span3">
                            Glasses
                        </span>
                        <span class="products__price span">
                            $160.00
                        </span>
                    </div>
                </div>
            </div>
        </div>
    </div>
</site-products>